/* You can add global styles to this file, and also import other style files */
html {
  background-color: rgb(236, 223, 43);
}

nav {
  background-color: rgb(236, 223, 43);
}

div {
  background-color: rgb(236, 223, 43);
}
body {
  background-color: rgb(236, 223, 43);
}
form{
  background-color: rgb(236, 223, 43);
}
h3,h1,h2,p{
  background-color: rgb(236, 223, 43);
}
