
<div class="titulo">
  <p>Chambilenio</p>

</div>
<div class="sub">
<p>Nos movemos en el planeta tierra</p>
</div>
<div class="padre">
  <div>
    <nav>
      <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/sesion']">Administrativos</button>
      <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/vista']">Usuarios</button>
      </nav>
    </div>
</div>

<p class="prueba">Ejercicio Practico: Programacion Web - Pontificia Universidad Javeriana - Camilo Riveros - 2020</p>
